body{
    padding-top: 100px;
    background-image: url('./martebackground.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#myCanvas{
    margin-top: 30px;
    border-width: 10px;
    background-color: white;
}
